/* _reset.scss */

@use '../abstracts/index' as *;

/* rest.css */

/* Box sizing reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Remove default padding */
body {
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
}

/* Anchor defaults */
a {
    text-decoration: none;
    color: inherit;
}

/* Image defaults */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove default button styles */
button {
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        transition: background-color 0.3s ease, color 0.3s ease;

    }
}

/* Make sure textarea resizes properly */
textarea {
    resize: vertical;
}

/* Table reset */
table {
    border-collapse: collapse;
    border-spacing: 0;
}