@use '../../scss/abstracts/breakpoints' as *;

.reviews {
    padding: 60px 0 131px;
    background-color: #FFFAF2;
    position: relative;

    @include respond(sm) {
        padding: 40px 0;
    }

    .site-heading--main {
        position: absolute;
        top: 0px;
        left: 0;

        @include respond(sm) {
            position: relative;
            text-align: center;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: 176px;
        align-items: center;
        position: relative;

        @include respond(xxxl) {
            gap: 80px;
        }

        @include respond(xl) {
            gap: 40px;
        }

        @include respond(md) {
            grid-template-columns: 1fr;
        }
    }

    &__avatars {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
        min-width: 476px;
        padding-top: 189px;

        @include respond(xl) {
            min-width: 336px;
        }

        @include respond(sm) {
            min-width: 100%;
            padding-top: 0;
            gap: 40px;
        }

    }

    &__avatar {


        &--large {
            max-width: 100%;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // Always 2 cards
        gap: 30px;

        @include respond(sm) {
            grid-template-columns: repeat(1, 1fr); // Always 2 cards
        }

        .review__card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 4px 40px 0px #00000014;
            display: flex;
            flex-direction: column;
            gap: 19px;
        }

        .review__card:nth-child(even) {
            transform: translateY(72px);

            @include respond(sm) {
                transform: translateY(0px);
            }
        }

        .review__card--user {
            display: flex;
            gap: 10px;
            flex-direction: column;

            &-image {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                object-fit: cover;
            }

            &-name {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                color: #000000;
            }

            &-location {
                font-size: 14px;
                color: #666666;
                font-weight: 400;
                font-family: "DM Sans", sans-serif;
                margin-top: 6px;
                display: block;
            }
        }

        .review__card--rating-date {
            display: flex;
            align-items: center;
            gap: 20px;

            .review__card--date {
                font-size: 12px;
                color: #101010;
                font-weight: 500;
                font-family: "DM Sans", sans-serif;
            }

            .review__card--stars {
                img {
                    max-width: 122px;

                    @include respond(xl) {
                        max-width: 100px;
                    }
                }
            }
        }

        .review__card--content {

            p {
                font-size: 15px;
                line-height: 1.3;
                color: #3A3A3A;
                font-family: "DM Sans", sans-serif;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}