@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/breakpoints' as *;
@use '../../scss/abstracts/variables' as *;
@use '../../scss/base' as *;

// Variables


.site__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: all 0.3s ease;

    .header__container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;

        .header__logo {
            grid-column: 1 / 2;
            text-decoration: none;
            justify-self: start;
        }

        .nav {
            grid-column: 2 / 3;
            display: flex;
            justify-content: center;

            @include respond(sm) {
                position: fixed;
                grid-column: 1;
                background: #000000;
                width: 242px;
                left: 0;
                height: 100vh;
                top: 0;
                flex-direction: column;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                justify-content: flex-start;
                transform: translateX(-100%);
                transition: transform 0.4s ease;
            }


            &.nav--open {
                transform: translateX(0);
            }


            &__menu {
                display: flex;
                gap: 80px;
                list-style: none;
                margin: 0;
                padding: 0;

                @include respond(xxxl) {
                    gap: 50px;
                }

                @include respond(xl) {
                    gap: 35px;
                }

                @include respond(lg) {
                    gap: 15px;
                }


                @include respond(sm) {
                    gap: 0;
                    flex-direction: column;
                }


            }

            &__link {

                color: $text-color;
                text-decoration: none;
                font-size: 16px;
                transition: background-color 0.3s ease, color 0.3s ease;
                font-weight: 500;

                &:hover {
                    transition: background-color 0.3s ease, color 0.3s ease;
                    color: #EE7231;

                }

                @include respond(lg) {
                    font-size: 14px;
                }

                @include respond(sm) {
                    color: #fff;
                    display: block;
                    padding: 20px;
                    border-bottom: 1px solid #545357;
                }

            }
        }

        .cta {

            justify-self: end;

            &__btn {
                background-color: #fff;
                color: #7130FA;
                text-decoration: none;
                border-radius: 40px;
                font-size: 16px;
                font-weight: 500;
                min-width: 137px;
                min-height: 52px;
                display: flex;
                justify-content: center;
                transition: background-color 0.3s ease, color 0.3s ease;
                align-items: center;

                &:hover {
                    background: #7130FA !important;
                    color: #fff !important;
                    transition: background-color 0.3s ease, color 0.3s ease;

                }

                @include respond(sm) {
                    font-size: 14px;
                    font-weight: 500;
                    min-width: 117px;
                    min-height: 44px;
                }
            }
        }
    }

    @include respond(sm) {
        .open__nav--toggle {
            width: 35px;
            height: 35px;
            position: absolute;
            right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease;
            }

            .open__nav--icon {
                opacity: 1;
                pointer-events: auto;
            }

            &.active {
                background: #fff;

                .open__nav--icon {
                    opacity: 0;
                    pointer-events: none;
                }

                .close__nav--icon {
                    opacity: 1;
                    pointer-events: auto;

                    path {
                        fill-opacity: 1;
                    }
                }
            }
        }

    }





    @include respond(sm) {
        .join__now {
            color: #fff;
            text-decoration: none;
            max-width: 100%;
            height: 55px;
            font-size: 16px;
            font-weight: bold;
            background: #EE7231;
            display: inline-flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 50px;
            padding: 0 27px;
            text-transform: capitalize;
            display: flex !important;
            margin: 30px 20px;
        }
    }

    &.scrolled {
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        .cta__btn {
            background: #7130FA !important;
            color: #fff !important;

            &:hover {
                background: #EE7231 !important;

            }
        }
    }



}